@{
    ViewBag.Title = "Home Page";
}
    <head>
        <link href="~/Content/themes/base/mainpage.css" rel="stylesheet" />
    </head>
    <body class="mainpagebody">
        <div style="height: 20px;"></div>
        <div class="container body-content">
            <img src="~/images/maistas.jpg" style="height: 500px; width:900px; margin:auto" />
        </div>
    </body>

